
<% if songs.present? %>
<div class="page-header">
  <h1>Playlist</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Song.human_attribute_name(:song) %></th>
      <th><%= College.human_attribute_name(:College) %></th>
      <th><%= Category.human_attribute_name(:category) %></th>
      <th><%= Language.human_attribute_name(:language) %></th>
      <th><%= Tag.human_attribute_name(:tag) %></th>
    </tr>
  </thead>
  <tbody id="playlist">
    <% songs.each do |song| %>
   
      <tr class="active">
        <td><a href="<%= song.file.url %>"><%= song.name %></a></td>
        <td><%= song.college.name %></td>
        <td><%= song.category.name %></td>
        <td><%= song.language.name %></td>                
        <td><%= song.tag.name %></td>    
      </tr>
    
    <% end %>
  </tbody>
</table>
<% end %>

<%#= link_to "Audio", song.song_upload.file.url, :class => "html5" %>


